.imageCanvas {
  position: relative;
}

.imageCanvas {
  width: 400px;
  height: 256px;
  display: block;
  cursor: pointer;
}

.imageCanvas__value-text {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 10px;
}

.imageCanvas__meter,
.imageCanvas__value {
  fill: none;
}

.imageCanvas__meter {
  stroke: #ccc;
}

.imageCanvas__value {
  stroke: #4CAF50;
  transition: all 100ms;
}
